@charset "utf-8";

.wrapper {
    width: 90%;
    min-height: 4.5rem;
    margin: 0 auto;
    position: relative;
}
main {
    width: 100%;
    margin: 0 auto;
}
.container {
    width: 90%;
    margin: 0 auto;
}
h1 {
    font-size: 1.375rem;
    font-weight: var(--font-medium);
    margin:0 0 1rem;
}
h2 {
    font-size: 2rem;
    font-weight: var(--font-medium);
    margin:3.5rem 0;
}
p {
    font-size: 1rem;
    margin-bottom: 1rem;
}
span {
    color: var(--text-small);
    font-size: 0.875rem;
}
table {
    width: 100%;
}
ol {
    list-style-position: inside;
}
/* hero */
.hero {
    position: relative;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin:0 0 3rem;
}
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        var(--background) 0%,
        var(--background) 25%,
        transparent 100%
    );
    z-index: 1;
    pointer-events: none;
}
.hero > div {
    position: relative;
    z-index: 2;
    padding: 1rem 0;
}
.hero > div > p.heading {
    font-size: 1.25rem;
    color: var(--sub-color);
}
/* top-index */
.top-index .hero {
    height: 301px;
    background-size: auto 301px;
    background-image: url('../img/mainvisual_sp.webp');
}
.top-index .hero .heading {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
    display: inline-block;
    transform: rotate(-6deg) translateY(1rem);
    margin-top: 2rem;
}
.top-index .hero .button {
    display: block;
    width: 12rem;
    font-size: 0.875rem;
    color: var(--secondary-color);
    background-color: var(--main-color);
    border-radius: 999px;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
    border: 2px solid var(--main-color);
    margin-bottom: 1rem;
    position: relative;
}
.top-index .hero .button:hover {
    color: var(--main-color);
    background-color: var(--secondary-color);
}
.top-index .about h3.heading_logo {
    font-size: 1.25rem;
    background-image: url('../img/top-index_logo.webp');
    background-repeat: no-repeat;
    background-size: contain;
    width: fit-content;
    margin: 0 auto;
    padding-left: 2.5rem;
}
.top-index .container {
    width: 90%;
    margin: 0 auto 1.25rem;
}
.top-index .aboutus {
    width: 90%;
    margin: 0 auto 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--secondary-color);
    border-radius: 2rem;
    overflow: hidden;
}
.top-index .aboutus div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.75rem;
}
.top-index .aboutus div p {
    margin: 0;
}
.top-index .aboutus div img {
    margin: 0 auto;
}
.top-index .aboutus > div:nth-child(odd) {
    border-right: 1px solid var(--background);
}
.top-index .support h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: url("../img/icon_support.webp") no-repeat center;
    background-size: contain;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.top-index .aboutus > div:nth-child(-n+2) {
    border-bottom: 1px solid var(--background);
}
.top-index .support h3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 0 auto 1rem;
    width: fit-content;
    padding-inline: 4rem;
}
.top-index .support h3::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 60px;
    background: url("../img/icon_support.webp") no-repeat center;
    background-size: contain;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.top-index .support h3::after {
    content: "";
    position: absolute;
    width: 38px;
    height: 60px;
    background: url("../img/icon_support.webp") no-repeat center;
    background-size: contain;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
}
.top-index .support .container div img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
}
.top-index .support .container div div {
    background-color: var(--secondary-color);
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
}
.top-index .support .container div div h4 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
}
.top-index .support .container div div .button {
    display: block;
    width: 12rem;
    font-size: 0.875rem;
    border-radius: 999px;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
    margin:0 auto 1rem;
    position: relative;
}
.top-index .support .container div.ondemand div h4 {
    color: var(--main-color);
}
.top-index .support .container div.ondemand div .button {
    color: var(--secondary-color);
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}
.top-index .support .container div.ondemand div .button:hover {
    color: var(--main-color);
    background-color: var(--secondary-color);
}
.top-index .support .container div.alignment div h4 {
    color: var(--orange);
}
.top-index .support .container div.alignment div .button {
    color: var(--secondary-color);
    background-color: var(--orange);
    border: 2px solid var(--orange);
}
.top-index .support .container div.alignment div .button:hover {
    color: var(--orange);
    background-color: var(--secondary-color);
}
.top-index .support .container div.tuition div h4 {
    color: var(--circle-pink);
}
.top-index .support .container div.tuition div .button {
    color: var(--secondary-color);
    background-color: var(--circle-pink);
    border: 2px solid var(--circle-pink);
}
.top-index .support .container div.tuition div .button:hover {
    color: var(--circle-pink);
    background-color: var(--secondary-color);
}
.top-index .movie h3 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    font-weight: var(--font-bold);
}
.top-index .movie h3::before {
    content: "";
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 29px;
    background-image: url('../img/icon_movie.webp');
    background-repeat: no-repeat;
}
.top-index .movie a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: var(--body-text);
}
.top-index .message h3 {
    font-size: 1.25rem;
    background-image: url('../img/top-index_logo.webp');
    background-repeat: no-repeat;
    background-size: contain;
    width: fit-content;
    margin: 0 auto 1rem;
    padding-left: 2.5rem;
}
.top-index .message .container div {
    text-align: center;
}
.top-index .news .container.bg {
    width: 90%;
    background-color: var(--secondary-color);
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 1rem;
    margin-bottom: 0;
}
.top-index .news .title {
    width: 100%;
    border-bottom: 2px solid var(--background);
    display: flex;
    align-items: baseline;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.top-index .news .title h3 {
    font-size: 1.25rem;
    font-weight: var(--font-medium);
}
.top-index .news .title h3::before {
    content: "●";
    color: var(--secondary-color-gray);
}
.top-index .news .title a {
    margin-left: auto;
    text-decoration: none;
    color: var(--body-text);
}
.top-index .news .title a::after {
    content: ">";
    margin-left: 0.5rem;
    color: var(--main-color);
    font-size: 1.5rem;
}
.top-index .news ul.news {
    padding: 0;
    margin: 0;
    list-style: none;
}
.top-index .news ul.news li {
    display: grid;
    grid-template-columns: 7.5rem 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;

    margin-bottom: 1.5rem;
}
.top-index .news ul.news li p.date {
    font-weight: var(--font-bold);
    color: var(--text-small);
}
.top-index .news ul.news li p.notice {
    width: 7rem;
    text-align: center;
    padding: 0.25rem 1rem;
    border-radius: 999px;
    font-weight: var(--font-bold);
}
.top-index .news ul.news li p.news_title {
    grid-column: 1 / -1;
    font-weight: var(--font-bold);
    color: var(--text-card);
}
.top-index .news ul.news .notice {
    color: var(--blue);
    background: var(--blue-light);
}
.top-index .news ul.news li p {
    margin: 0;
}
.top-index .blog .container.bg {
    width: 90%;
    background-color: var(--secondary-color);
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 1rem;
}

.top-index .blog img {
    margin-bottom: 1rem;
}
.top-index .blog .date {
    color: var(--text-small);
    font-weight: var(--font-bold);
}
.top-index .blog .blog_title {
    color: var(--text-card);
    font-weight: var(--font-bold);
}
.top-index .blog li {
    margin-bottom: 2rem;
}
.top-index .blog li:last-child {
    margin-bottom: 0;
}

/* inquiry */
.inquiry {
    display: grid;
    gap: 1rem;
}
.inquiry > .container > a {
    margin-bottom: 1rem;
}
.inquiry .contact {
    display: block;
    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);
    border-radius: 1rem;
    padding: 1rem 0.5rem;
    text-align: center;
    color: var(--main-color);
    font-size: 1.375rem;
    font-weight: var(--font-bold);
    text-decoration: none;
}
.inquiry .contact::after {
    content: "→";
    margin-left: 1rem;
}
.inquiry .arrow {
    position: relative;
    width: 36px;
    height: 36px;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: var(--secondary-color);
}
.inquiry .arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 45%;
    width: 8px;
    height: 8px;
    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: translate(-50%, -50%) rotate(45deg);
}
.inquiry .material,
.inquiry .line,
.inquiry .trial {
    display: grid;
    grid-template-columns: 64px 1fr 36px;
    align-items: center;
    column-gap: 1rem;
    border-radius: 1rem;
    padding: 1rem 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.375rem;
    font-weight: var(--font-bold);
    text-decoration: none;
    color: var(--body-text);
}
.inquiry .material {
    background-color: var(--card-blue);
}
.inquiry .line {
    background-color: var(--card-green);
}
.inquiry .trial {
    background-color: var(--card-pink);
}
.inquiry .material > div:first-child,
.inquiry .line > div:first-child,
.inquiry .trial > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    flex-shrink: 0;
}
.inquiry .material .heading{
    color: var(--main-color)
}
.inquiry .line .heading{
    color: var(--circle-green)
}
.inquiry .trial .heading{
    color: var(--circle-pink)
}
.inquiry .material > .arrow {
    border: 2px solid var(--main-color);
} 
.inquiry .material > .arrow::before {
    border-top: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
}
.inquiry .line > .arrow {
    border: 2px solid var(--circle-green);
} 
.inquiry .line > .arrow::before {
    border-top: 2px solid var(--circle-green);
    border-right: 2px solid var(--circle-green);
}
.inquiry .trial > .arrow {
    border: 2px solid var(--circle-pink);
} 
.inquiry .trial > .arrow::before {
    border-top: 2px solid var(--circle-pink);
    border-right: 2px solid var(--circle-pink);
}
/* employment */
.employment .hero {
    background-image: url('../img/subpage_fv_employment.webp');
}
.employment h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
    border-bottom: 1px solid var(--background);
}
.employment .record {
    background-color: var(--secondary-color);
    padding: 2rem 0;
    margin-bottom: 3rem;
}
.employment .record div ul li {
    margin-bottom: 1rem;
}
.employment .graduate {
    background-color: var(--secondary-color-ash);
    padding: 2rem 0;
    margin-bottom: 3rem;
}
.employment .graduate h3 {
    font-size: 1rem;
    color: var(--body-text);
    margin: 1rem 0;
    padding: 0;
    border-radius: 0;
    background: none;
}
.employment .student {
    background-color: var(--sub-color-light);
    padding: 2rem 0;
    margin-bottom: 3rem;
}
.employment .student div {
    margin-bottom: 3rem;
}
.employment .student div:last-child {
    margin-bottom: 0;
}
.employment .student h3 {
    font-size: 1rem;
    line-height: 1.7;
    color: var(--sub-color);
    margin: 1rem 0;
    padding: 0;
    border-radius: 0;
    background: none;
}
.employment .student h4 {
    font-size: 0.875rem;
    border-left: 2px solid var(--sub-color);
    margin-bottom: 1rem;
    padding-left: 1rem;
}
.employment .student .blog {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 1rem;
}
.employment .student .blog h5 a {
    background-color: var(--secondary-color);
    color: var(--sub-color);
    text-align: center;
    font-size: 1.125rem;
    width: 280px;
    margin: 0 auto;
    padding-block: 0.75rem;
    display: block;
    border-radius: 999px;
}
.employment .student .blog p {
    font-size: 0.75rem;
    color: var(--sub-color);
    font-weight: var(--font-bold);
}
.employment .work {
    background-color: var(--secondary-color);
    padding: 2rem 0;
    margin-bottom: 3rem;
}
.employment .work div .column {
    column-count: 3;
}
.employment .work div .column li {
    margin-bottom: 1rem;
    break-inside: avoid;
}
/* open-campus */
.open-campus .hero {
    background-image: url('../img/subpage_fv_open-campus.webp');
}
.open-campus .introduction {
    width: 72%;
    margin: 0 auto;
}
.open-campus .introduction h2 {
    color: var(--sub-color);
    font-size: 1rem;
    font-weight: var(--font-regular);
    margin-bottom: 2rem;
}
.open-campus .meeting {
    background-color: var(--secondary-color);
    padding: 1rem 0 4rem;
    margin-bottom: 4rem;
}
.open-campus .meeting > div {
    width: 90%;
    margin: 0 auto;
}
.open-campus .meeting h2 {
    font-size: 1.25rem;
    font-weight: var(--font-regular);
    margin: 0 0 1rem;
    border-bottom: 1px solid var(--background);
    text-align: center;
}
.open-campus .meeting h3 {
    font-size: 1.5rem;
    font-weight: var(--font-regular);
    margin: 0 0 1rem;
    background: none;
    color: var(--body-text);
}
.open-campus .meeting strong {
    font-size: 1.25rem;
    font-weight: var(--font-regular);
}
.open-campus .meeting ul {
    margin-bottom: 1rem;
}
.open-campus .meeting table {
    margin-bottom: 4rem;
}
.open-campus .meeting thead {
    background-color: var(--sub-color);
    color: var(--secondary-color);
}
.open-campus .meeting th,
.open-campus .meeting td {
    padding: 1rem 0.5rem;
}
.open-campus .meeting td:first-child {
    text-align: center;
    white-space: nowrap;
}
.open-campus .meeting small {
    font-size: 0.75rem;
}
.open-campus .meeting .form {
    display: block;
    text-align: center;
    color: var(--sub-color);
    font-weight: var(--font-medium);
    font-size: 1.25rem;
    margin-bottom: 4rem;
    border-radius: 999px;
    background-color: var(--sub-color-light);
    padding: 1rem 0.5rem;
    width: 100%;
}
.open-campus .meeting .form.last {
    margin-bottom: 0;
}
/* recruiters */
.recruiters .hero {
    background-image: url('../img/subpage_fv_recruiters.webp');
}
.recruiters .to-manager,
.recruiters .posting {
    background-color: var(--secondary-color);
    padding: 1rem 0 4rem;
    margin-bottom: 4rem;
}
.recruiters .to-manager > div,
.recruiters .posting > div {
    width: 90%;
    margin: 0 auto;
}
.recruiters .to-manager h2 {
    font-size: 1.25rem;
    font-weight: var(--font-regular);
    margin: 0 0 1rem;
    border-bottom: 1px solid var(--background);
    text-align: center;
}
.recruiters .to-manager p {
    margin-bottom: 1rem;
}
.recruiters .posting h3 {
    background: none;
    font-size: 1.375rem;
    color: var(--body-text);
}
.recruiters .posting address {
    font-style: normal;
}
.recruiters .posting .form {
    display: block;
    text-align: center;
    color: var(--sub-color);
    font-weight: var(--font-medium);
    font-size: 1.25rem;
    margin-bottom: 4rem;
    border-radius: 999px;
    background-color: var(--sub-color-light);
    padding: 1rem 0.5rem;
    width: 100%;
    max-width: 327px;
}
.recruiters .posting > div > div {
    margin-bottom: 1rem;
}
.recruiters .posting a {
    color: var(--sub-color);
}
/* benefit */
.benefit .hero {
    background-image: url('../img/subpage_fv_benefit.webp');
}
.benefit .system > div {
    width: 90%;
    margin: 0 auto;
}
.benefit .system h2 {
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 0 0 2rem;
}
.benefit .system h3 {
    font-size: 1.5rem;
    font-weight: var(--font-regular);
    color: var(--sub-color);
    border-bottom: 1px solid var(--sub-color);
    margin-bottom: 3rem;
}
.benefit .system dl {
    display: grid;
    border: 1px solid var(--border-color);
    background: var(--secondary-color);
    margin-bottom: 4rem;
}

.benefit .system dt,
.benefit .system dd {
    margin: 0;
    padding: 1.5rem;
    border: 1px solid var(--border-color);
}

.benefit .system dt {
    background: var(--background);
    color: var(--sub-color);
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    text-align: center;
    border: 1px solid var(--border-color);
}

.benefit .system dd {
    background: var(--secondary-color);
    overflow-wrap: anywhere;
}

.benefit .system dt:last-of-type,
.benefit .system dd:last-child {
    border-bottom: none;
}

.benefit .system dl a {
    color: var(--sub-color);
    text-decoration: underline;
}
/* contact */
.contact .hero {
    background-image: url('../img/subpage_fv_contact.webp');
}
.contact .system > div {
    width: 90%;
    margin: 0 auto;
}
.contact .contact-body h2 {
    font-size: 1.5rem;
    font-weight: var(--font-regular);
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 0 0 2rem;
}
.contact .label {
    font-size: 1.5rem;
    font-weight: var(--font-regular);
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 0 0 1rem;
    width: fit-content;
}
.contact .input {
    margin-bottom: 1.5rem;
}
/* learn */
.learn .hero {
    background-image: url('../img/subpage_fv_learn.webp');
}
.learn h2 {
    font-size: 1.5rem;
    font-weight: var(--font-regular);
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 0 0 2rem;
}
.learn h3 {
    font-size: 1rem;
    line-height: 1.7;
    font-weight: var(--font-regular);
    color: var(--sub-color);
    margin: 1rem 0 3rem;
    padding: 0;
    border-radius: 0;
    background: none;
}
.learn > section > .container > section > p,
.learn > section > .container > section > div > p:last-child,
.learn > section > .container > section > ul {
    margin-bottom: 3rem;
}
.learn table {
    margin-bottom: 3rem;
}
.learn table th {
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-weight: var(--font-regular);
    text-align: left;
    padding: 1rem 0.5rem;
}
.learn table td {
    background-color: var(--sub-color-light);
    color: var(--sub-color-dark);
    text-align: center;
    padding: 1rem 0.5rem;
}
.learn table th,
.learn table td {
    border: 1px solid var(--secondary-color);
}
.learn h4 {
    font-weight: var(--font-regular);
}
.learn h4::before {
    content: "●";
    color: var(--main-color);
    margin-right: 1rem;
}
.learn .course > li:first-child {
    margin-bottom: 2rem;
}
.learn .voices {
    margin-bottom: 3rem; 
}
.learn .voices hr {
    margin: 3.25rem 0;
}
.learn .voices > div {
    display: flex;
}
.learn .voices .image {
    width: 300px;
    flex-shrink: 0;
    height: auto;
    margin-left: 5.625rem;
}
.learn .voices .image img{
    width: 100%;
    height: auto;
}
.learn .voices > div:last-child {
    margin-bottom: 6rem;
}
.learn .chairman {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
}
.learn .chairman h2 {
    grid-column: 1 / -1;
}
.learn .chairman .image {
    grid-column: 1;
}
.learn .chairman > div:not(.image) {
    grid-column: 2;
}
.learn .chairman figcaption {
    text-align: center;
}
/* tuition */
.tuition .hero {
    background-image: url('../img/subpage_fv_benefit.webp');
}
.tuition h2 {
    font-size: 1.5rem;
    font-weight: var(--font-regular);
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 0 0 2rem;
}

.tuition th,
.tuition td {
    font-weight: var(--font-regular);
    font-size: 0.625rem;
    border: none;
}
.tuition th {
    background-color: var(--main-color);
    color: var(--secondary-color);
}
.tuition td:first-child {
    text-align: center;
}
.tuition td {
    text-align: right;
}
.tuition th:first-child{
    border-radius: 0.5rem 0 0 0;
}
.tuition th:last-child{
    border-radius: 0 0.5rem 0 0;
}
.tuition tr:nth-child(1){
    background-color: var(--secondary-color);
}
.tuition tr:nth-child(2){
    background-color: var(--background);
}
.tuition tr:nth-child(3){
    background-color: var(--sub-color-light);
}
.tuition .container > section > p:last-child,
.tuition .container > section > ul:last-child {
    margin-bottom: 4rem;
}
.tuition .big-circle li::before {
    content: "●";
    color: var(--main-color);
}
.tuition .small-circle {
    list-style-type: disc;
    list-style-position: inside;
}
.tuition .triangle li::before {
    content: "\25B7";
    color: var(--main-color);
}
.tuition .tel {
    display: block;
    border-radius: 999px;
    background-color: var(--sub-color-light);
    width: fit-content;
    margin: 1.25rem auto;
    padding: 0.5rem 0.75rem;
}
/* introduction */
.introduction .hero {
    background-image: url('../img/subpage_fv_introduction.webp');
}
.introduction .container {
    width: 90%;
    margin: 0 auto 1.25rem;
}
.introduction .link {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}
.introduction .link li {
    width: calc(50% - 0.375rem);
    list-style: none;
}
.introduction .link a {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    color: var(--secondary-color);
    background-color: var(--main-color);
    border-radius: 999px;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
    border: 2px solid var(--main-color);
}
.introduction .link a:hover {
    color: var(--main-color);
    background-color: var(--secondary-color);
}
.introduction .container.bg {
    width: 100%;
    padding: 1rem 5%;
    background-color: var(--secondary-color);
    border-radius: 1rem;
}
.introduction h2.heading {
    font-size: 1.5rem;
    text-align: center;
}
.introduction h3.heading {
    text-align: center;
    border-radius: 0.75rem;
    background-color: var(--main-color-light);
    color: var(--sub-color);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}
.introduction table {
    margin-bottom: 3rem;
}
.introduction table > thead > tr > th {
    margin-bottom: 3rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--sub-color);
    color: var(--secondary-color);
    font-weight: var(--font-regular);
    border: none;
}
.introduction table .week {
    background-color: var(--sub-color-light);
}
.introduction table .holiday {
    background-color: var(--sub-color);
    color: var(--secondary-color);
}
.introduction td {
    text-align: center;
}
.introduction .chairman-photo,
.introduction .logo-mark,
.introduction .graph {
    margin: 0 auto;
}
.introduction .caption {
    text-align: center;
    color: var(--sub-color);
}
.introduction .coexistence {
    background-image: url('../img/introduction_coexistance_sp.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    aspect-ratio: 435/ 156;
    margin-bottom: 1rem;
}
.introduction .coexistence p {
    font-size: 0;
}
.introduction .photo {
    margin-bottom: 1rem;
}
.introduction .benefits {
    width: 100%;
    margin: 0 auto 1rem;
    background-color: var(--main-color-light3);
    border-radius: 1.5rem;
    padding: 1rem 8%;
}
.introduction .benefits h4.heading {
    font-size: 1.25rem;
    font-weight: var(--font-bold);
    color: var(--main-color-light2);
    text-align: center;
}
.introduction .benefits dl dt {
    background-color: var(--secondary-color);
    border-radius: 999px;
    text-align: center;
    width: 12rem;
    margin: 1.25rem auto ;
    padding: 0.75rem 1rem;
}
.introduction .benefits dl dd {
    font-size: 0.875rem;
}
.introduction .benefits dl dd.exemption,
.introduction .benefits dl dd.delivery {
    text-align: center;
}
.introduction .benefits dl dd span {
    color: var(--circle-pink);
}
.introduction .voice .photo {
    width: 100%;
}
.introduction .voice .name {
    text-align: right;
}
.introduction .voice .benefits ol {
    list-style: none;
}
.introduction .voice .benefits ol li {
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 999px;
    position: relative;
    margin-bottom: 3rem;
}
.introduction .voice .benefits ol li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2.5rem;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 30px solid var(--main-color-light2);
}
.introduction .voice .benefits ol li:last-child {
    margin-bottom: 0;
}
.introduction .voice .benefits ol li:last-child::after {
    display: none;
}
/* introduction > cooperation */
.cooperation > div > p {
    position: relative;
    cursor: pointer;
    padding: 1.5rem 5rem 1.5rem 2rem;
    border: 1px solid var(--secondary-color-gray);
    border-radius: 1rem;
    background: #fff;
}
/* 丸 */
.cooperation > div > p::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1.125rem;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* ＋の横線・縦線 */
.cooperation > div > p > span::before,
.cooperation > div > p > span::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1.875rem;
    width: 1rem;
    height: 0.125rem;
    background: currentColor;
    transition: transform .3s ease, opacity .3s ease;
}

/* 横線 */
.cooperation > div > p > span::before {
    transform: translateY(-50%);
}

/* 縦線 */
.cooperation > div > p > span::after {
    transform: translateY(-50%) rotate(90deg);
}

/* 開いたら＋→－ */
.cooperation > div > p:has(+ div.is-open) > span::after,
.cooperation > div > p:has(+ ul.is-open) > span::after {
    opacity: 0;
    transform: translateY(-50%) rotate(90deg) scaleX(0);
}

/* アコーディオン */
.cooperation > div > div,
.cooperation > div > ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
/* application-guidelines */
.application-guidelines .hero {
    background-image: url('../img/subpage_fv_application-guidelines.webp');
}
.application-guidelines h2 {
    font-size: 1.25rem;
    font-weight: var(--font-regular);
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 0 0 2rem;
}
.application-guidelines h3 {
    font-size: 1.25rem;
    font-weight: var(--font-regular);
    color: var(--sub-color);
    margin: 0;
}
.application-guidelines h3.heading {
    border-bottom: 1px solid var(--sub-color);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.application-guidelines .container div.bg {
    background-color: var(--secondary-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 0 0 2rem;
}
.application-guidelines .container > div > div {
    margin-bottom: 1rem;
}
.application-guidelines ol {
    list-style-position: inside;
}
.application-guidelines .table-scroll {
    overflow-x: auto;
}
.application-guidelines .table-scroll table{
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}
.application-guidelines .table-scroll table th,
.application-guidelines .table-scroll table td {
    text-align: center;
    font-size: 1rem;
    font-weight: var(--font-regular);
    padding: 0.5rem 0.75rem;
}
.application-guidelines .table-scroll table td {
    background-color: var(--secondary-color);
}
.application-guidelines .table-scroll table thead tr th {
    color: var(--secondary-color);
    background-color: var(--main-color);
    white-space: nowrap;
}
.application-guidelines .table-scroll table tbody tr th {
    background-color: var(--sub-color-light);
    white-space: nowrap;
}
.application-guidelines .red_txt {
    color: var(--circle-pink);
}
.application-guidelines .bold_txt {
    font-size: 1.125rem;
    font-weight: var(--font-bold);
    color: var(--body-text);
}
.application-guidelines .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.application-guidelines .link {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 1rem;
}
.application-guidelines .link li {
    width: calc(50% - 0.375rem);
    list-style: none;
}
.application-guidelines .link a {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    color: var(--secondary-color);
    background-color: var(--main-color);
    border-radius: 999px;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
    border: 2px solid var(--main-color);
}
.application-guidelines .link a:hover {
    color: var(--main-color);
    background-color: var(--secondary-color);
}
/* loan-type */
.loan-type .hero {
    background-image: url('../img/subpage_fv_loan.webp');
}
.loan-type .system > div {
    width: 90%;
    margin: 0 auto;
}
.loan-type .system h2 {
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 0 0 2rem;
}
.loan-type .system h3 {
    font-size: 1.5rem;
    font-weight: var(--font-regular);
    color: var(--sub-color);
    border-bottom: 1px solid var(--sub-color);
    margin-bottom: 3rem;
}
.loan-type .system dl {
    display: grid;
    border: 1px solid var(--border-color);
    background: var(--secondary-color);
    margin-bottom: 4rem;
}
.loan-type .system dt,
.loan-type .system dd {
    margin: 0;
    padding: 1.5rem;
    border: 1px solid var(--border-color);
}
.loan-type .system dt {
    background: var(--background);
    color: var(--sub-color);
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    text-align: center;
    border: 1px solid var(--border-color);
}
.loan-type .system dd {
    background: var(--secondary-color);
    overflow-wrap: anywhere;
}
.loan-type .system dt:last-of-type,
.loan-type .system dd:last-child {
    border-bottom: none;
}
.loan-type .system dl a {
    color: var(--sub-color);
    text-decoration: underline;
}
/* graduate */
.graduate .container {
    width: 90%;
    margin: 0 auto;
}
.graduate h1 {
    font-size: 1.5rem;
    font-weight: var(--font-regular);
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 2rem 0;
}
.graduate h2 {
    font-size: 1rem;
    line-height: 1.7;
    font-weight: var(--font-regular);
    color: var(--sub-color);
    margin: 1rem 0 3rem;
    padding: 0;
    border-radius: 0;
    background: none;
}
.graduate .graduate {
    margin-bottom: 3rem;
}
.graduate > section > .container > p {
    font-size: 1.5rem;
    color: var(--main-color);
}
.graduate section .bg {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 1rem 2%;
}
.graduate section .bg h2 {
    font-size: 1.5rem;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    margin: 0 auto 2rem;
}
.graduate section .button {
    display: block;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--main-color);
    margin: 2rem auto;
    padding: 1rem;
    font-size: 1.75rem;
    text-align: center;
    text-decoration: none;
    border-radius: 1.75rem;
    border: 1px solid var(--main-color);
}
.graduate section .button:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}
.graduate section .button::after {
    content: "→";
}
/* privacy-policy */
.privacy-policy h1 {
    font-size: 1.5rem;
    font-weight: var(--font-regular);
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 2rem 0;
}
.privacy-policy h2 {
    font-size: 1.5rem;
    line-height: 1.7;
    font-weight: var(--font-regular);
    color: var(--sub-color);
    margin: 1rem 0;
    padding: 0;
    border-radius: 0;
    background: none;
    border-bottom: 1px solid var(--sub-color);
}
.privacy-policy .container {
    width: 90%;
    margin: 0 auto;
}
.privacy-policy section .bg {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 1rem 2%;
    margin-bottom: 3rem;
}
.privacy-policy ol {
    margin-bottom: 1rem;
}
.privacy-policy ol ol {
    margin-left: 1rem;
}
.privacy-policy h3 {
    font-size: 1.25rem;
    font-weight: var(--font-regular);
    color: var(--sub-color);
    margin-bottom: 1rem;
}
/* childcare */
.childcare h1 {
    font-size: 1.5rem;
    font-weight: var(--font-regular);
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 2rem 0;
}
.childcare h2 {
    font-size: 1.5rem;
    line-height: 1.7;
    font-weight: var(--font-regular);
    color: var(--sub-color);
    margin: 1rem 0;
    padding: 0;
    border-radius: 0;
    background: none;
    border-bottom: 1px solid var(--sub-color);
}
.childcare section .bg {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 1rem 2%;
    margin-bottom: 3rem;
}
.childcare > section > .container > p {
    color: var(--main-color);
    font-size: 1.5rem;
}
/* singleparents */
.singleparents .hero {
    background-image: url('../img/subpage_fv_singleparents.webp');
}
.singleparents > section > .container {
    width: 90%;
    margin: 0 auto;
}
.singleparents h2 {
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 0 0 2rem;
}
.singleparents h3 {
    font-size: 1.5rem;
    line-height: 1.7;
    font-weight: var(--font-regular);
    color: var(--sub-color);
    margin: 1rem 0;
    padding: 0;
    border-radius: 0;
    background: none;
    border-bottom: 1px solid var(--sub-color);
}
.singleparents .container div.bg {
    background-color: var(--secondary-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 0 0 2rem;
}
.singleparents dl {
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--table-line);
    background: var(--secondary-color);
}
.singleparents dt,
.singleparents dd {
    margin: 0;
    padding: 0.65rem 1.5rem;
    border-bottom: 1px solid var(--table-line);
}
.singleparents dt {
    background: var(--background);
    color: var(--sub-color);
    text-align: center;
    font-weight: 500;
}
.singleparents dd {
    background: var(--secondary-color);
    line-height: 1.8;
}

dd:last-child {
    border-bottom: none;
}
/* faq */
.faq-tab-btn {
    display: block;
    width: fit-content;
    font-size: 0.875rem;
    color: var(--secondary-color);
    background-color: var(--main-color);
    border-radius: 999px;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 0.5rem;
    border: 2px solid var(--main-color);
    margin-bottom: 1rem;
    position: relative;
    cursor: pointer;
}
.faq-tab-btn:hover,
.faq-tab-btn.is-active {
    color: var(--main-color);
    background-color: var(--secondary-color);
}
.faq-tabs-wrapper {
    width: 90%;
    margin: 0 auto;
}
.faq-tab-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}
div.ewd-ufaq-faq-title div.ewd-ufaq-post-margin-symbol {
    float: right !important;
}
.ewd-ufaq-faq-title-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.ewd-ufaq-faq-title-text::before {
    content: "Q";
    background-color: var(--main-color);
    color: var(--secondary-color);
    border-radius: 999px;
    flex: 0 0 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.ewd-ufaq-post-margin.ewd-ufaq-faq-post::before {
    content: "A";
    background-color: var(--secondary-color);
    color: var(--secondary-color-pink);
    border-radius: 999px;
    border: 1px solid var(--secondary-color-pink);
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.wp-block-paragraph strong,
.wp-block-list strong {
    font-weight: var(--font-regular) !important;
}
/* acceess */
.access .hero {
    background-image: url('../img/subpage_fv_access.webp');
}
.access .bg {
    width: 100%;
    margin: 0 auto 3rem;
    padding: 1rem 0;
    border-radius: 1rem;
    background-color: var(--secondary-color);
}
.access iframe {
    width: 90%;
    height: 186px;
    margin: 0 auto;
    padding: 0;
    border-radius: 1rem;
    display: block;
}
.access h2 {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--main-color-light);
    margin: 0 auto 1rem;
    padding: 0.5rem 0;
    border-radius: 0.75rem;
    font-size: 1.5rem;
    font-weight: var(--font-bold);
    color: var(--sub-color);
    width: 90%;
}
.access h2::before {
    content: "";
    background-image: url('../img/top-index_logo.webp');
    background-position: center;
    background-repeat: no-repeat;
    width: 56px;
    height: 41px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.access p.address {
    background-color: var(--main-color-light);
    width: 100%;
    padding: 1rem 5%;
    margin: 1rem auto;
}
.access .photos {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.access .photos img {
    width: 100%;
    border-radius: 1rem;
}
.access .guidance {
    width: 90%;
    margin: 1rem auto 2rem;
}
.access .facilities {
    text-align: center;
}
/* sight-of-school */
.sight .photo .container {
    width: 90%;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    margin-bottom: 3rem;
}
.sight h1 {
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 2rem auto;
    width: 90%;
}
.sight .photo .container h2 {
    max-width: 384px;
    background-color: var(--main-color-light);
    font-size: 1.75rem;
    color: var(--sub-color);
    text-align: center;
    border-radius: 0.75rem;
    margin: 0 auto 2rem;
    padding: 0 4rem;
    width: fit-content;
}
.sight > .photo > .container > div {
    display: grid;
    gap: 1rem;
    margin:0 auto;
    width: 100%;
    text-align: center;
}

.sight .photo .container div article img {
    margin: 0 auto;
}
@media (min-width: 1024px) {
    .hero {
        height: 400px;
        background-size: auto 400px;
    }
    /* top-index */
    .top-index .hero {
        height: 674px;
        background-size: auto 674px;
        background-image: url('../img/mainvisual.webp');
    }
    .top-index .aboutus {
        grid-template-columns: repeat(4, 1fr);
    }
    .top-index .about .container > p {
        width: fit-content;
        margin: 1rem auto;
    }
    .top-index .support .container > p {
        width: fit-content;
        margin: 1rem auto;
    }
    .top-index .support .container.flex {
        display: flex;
        gap: 1.5rem;
        align-items: stretch;
    }
    .top-index .support .container.flex > div {
        flex: 1;
    }
    .top-index .support .container.flex > div {
        flex: 1 1 0;
        min-width: 0;
        display: flex;
        flex-direction: column;
    }
    .top-index .support .container.flex > div > img {
        width: 100%;
        height: 135px;
        object-fit: cover;
    }
    .top-index .support .container.flex > div > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .top-index .support .button {
        margin-top: auto;
    }
    .top-index .news-blog {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 90%;
        margin: 0 auto 2rem;
        border-radius: 1.5rem;
        background-color: var(--secondary-color);
    }
    .top-index .news-blog .container.bg {
        width: 100%;
        border-radius: 0;
        background: none;
    }
    /* inquiry */
    .inquiry .s-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .inquiry .s-container > a {
        width: 100%;
        display: grid;
        grid-template-columns: 64px 1fr 36px;
        align-items: center;
        column-gap: 1rem;
    }
    /* employment */
    .employment .student > .container > div img {
        float: right;
        width: min(40%, 360px);
        margin: 0 0 1rem 1.5rem;
        height: auto;
    }
    .employment .student > .container > div h3 {
        margin-top: 0;
    }
    .employment .student > .container > div p {
        text-align: justify;
    }
    /* open-campus */
    .open-campus .meeting .center {
        text-align: center;
    }
    /* benefit */
    .benefit .system dl {
        grid-template-columns: max-content 1fr;
    }
    /* contact */
    .form > form > div {
        display: flex;
        align-items: center;
    }
    .contact .label {
        text-align: center;
        margin-right: 2rem;
        width: 15rem;
    }
    /* tuition */
    .tuition th,
    .tuition td {
        font-weight: var(--font-regular);
        font-size: 1rem;
        border: 1px solid var(--table-line);
        text-align: center;
        width: 20%;
        padding: 1.5rem 0;
    }
    .tuition .tel {
        margin-left: 0;
    }
    /* introduction */
    .introduction .container {
        max-width: 1200px;
    }
    .introduction .link {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 0.75rem;
    }

    .introduction .link li {
        width: auto;
        flex: 1;
    }
    #greeting {
        margin-bottom: 3rem;
    }
    #greeting .bg {
        padding: 3rem 4rem;
        background: var(--secondary-color);
        border-radius: 48px;
    }
    #greeting .heading {
        text-align: center;
        margin-bottom: 2rem;
    }
    /* 写真＋本文の2カラム */
    #greeting .bg > div {
        display: grid;
        grid-template-columns: 410px 1fr;
        gap: 2rem;
        align-items: start;
    }
    /* 左カラム */
    #greeting .bg > div > div:first-child {
        text-align: center;
    }
    #greeting .chairman-photo {
        width: 100%;
        max-width: 410px;
        border-radius: 20px;
        display: block;
    }
    #greeting .caption {
        margin-top: 1.5rem;
        color: #68aaa4;
        font-weight: 700;
        line-height: 1.8;
    }
    /* 右カラム */
    #greeting .bg > div > div:last-child {
        line-height: 1.9;
        font-weight: 700;
    }
    #greeting .bg > div > div:last-child p {
        margin-bottom: 1.5rem;
    }
    #greeting .bg > div > div:last-child p:last-child {
        margin-bottom: 0;
        text-align: center;
        font-size: 0.9rem;
    }
    .introduction #philosophy {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto 3rem;
        display: flex;
        gap: 2rem;
    }
    .introduction #philosophy > section {
        flex: 1;
    }
    .introduction .container.bg {
        width: 100%;
        max-width: 1200px;
        padding: 1rem 0;
        margin: 0 auto;
        background-color: var(--secondary-color);
        border-radius: 1rem;
    }
    .introduction h3.heading {
        width: min(588px, 100%);
        margin: 0 auto 1rem;
        font-size: 1.75rem;
    }
    .introduction table {
        font-size: 1.5rem;
    }
    /* feature */
    #feature,
    #childcare-cooperation,
    #housing,
    #commuter-pass {
        margin-bottom: 3rem;
    }
    #feature .bg {
        max-width: 1200px;
        margin-inline: auto;
        padding: 2.5rem 4rem 4rem;
        background: var(--secondary-color);
        border-radius: 40px;
    }
    #feature > .container > .heading {
        text-align: center;
        margin-bottom: 1.5rem;
    }
    /* 各ブロック */
    #feature .bg > div {
        margin-top: 2.5rem;
    }
    #feature .bg > div:first-of-type {
        margin-top: 0;
    }
    /* 2カラム部分 */
    #feature .bg > div > div {
        display: grid;
        grid-template-columns: 1fr 360px;
        gap: 2rem;
        align-items: start;
    }
    #feature p {
        line-height: 1.9;
        margin-bottom: 1.25rem;
    }
    #feature p:last-child {
        margin-bottom: 0;
    }
    /* 表 */
    #feature table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
        border-radius: 8px;
        text-align: center;
        font-size: 1.2rem;
    }
    #feature th {
        padding: 0.35rem;
        color: #fff;
        background: #68aaa4;
    }
    #feature td {
        padding: 0.35rem;
        border-right: 1px solid #777;
        border-bottom: 1px solid #777;
    }
    #feature tr.week td {
        background: #e6f3f1;
        font-weight: 700;
    }
    #feature .holiday {
        color: #fff;
        background: #68aaa4;
        font-weight: 700;
        vertical-align: middle;
    }
    /* グラフ */
    #feature .graph {
        display: block;
        width: 100%;
        max-width: 320px;
        margin-inline: auto;
    }
    /* 支援制度の強調文 */
    #feature .bg > div:nth-of-type(5) p:nth-of-type(2) {
        font-size: 1.35rem;
        font-weight: 700;
        line-height: 1.8;
    }
    /* リンク */
    #feature a {
        color: #63aaa4;
        text-decoration: underline;
    }
    #childcare-cooperation .bg {
        max-width: 1200px;
        margin-inline: auto;
        padding: 2.5rem 4rem 4rem;
        background: var(--secondary-color);
        border-radius: 40px;
    }
    #childcare-cooperation .bg .flex-container {
        display: flex;
    }
    .introduction .coexistence {
        margin-right: 1rem;
    }
    .introduction .benefits {
        width: 840px;
        margin: 0 auto 1rem;
        background-color: var(--main-color-light3);
        border-radius: 1.5rem;
        padding: 1rem 8%;
    }

    .benefits dl {
        display: grid;
        grid-template-columns: 220px 1fr;
        gap: 1.25rem 1.5rem;
        align-items: center;
        margin: 0;
    }
    .voice {
        padding: 2.5rem 4rem;
        background: #fff;
    }

    .voice > .heading {
        width: min(640px, 100%);
        margin: 0 auto 2rem;
        padding: 0.4rem 1rem;
        text-align: center;
        border-radius: 8px;
        font-size: 1.8rem;
        line-height: 1.3;
    }

    /* 写真＋本文 */
    .voice > div:first-of-type {
        display: grid;
        grid-template-columns: 310px 1fr;
        gap: 2rem;
        align-items: start;
        max-width: 850px;
        margin: 0 auto 2rem;
    }

    .voice .photo {
        display: block;
        width: 100%;
        border-radius: 18px;
    }

    .voice .name {
        margin-top: 2rem;
        text-align: right;
    }

    /* 下の本文 */
    .voice > div:first-of-type + p {
        max-width: 1000px;
        margin: 0 auto 1.5rem;
    }

    .voice > div:first-of-type + p + p {
        max-width: 1000px;
        margin: 0 auto;
    }

    /* benefitsが続く場合 */
    .voice .benefits {
        margin-top: 3rem;
    }
    /* application-guidelines */
    .application-guidelines .link {
        flex-wrap: nowrap;
    }
    /* loan-type */
    .loan-type .system dl {
        grid-template-columns: max-content 1fr;
    }
    /* singleparents */
    .singleparents dl {
        display: grid;
        grid-template-columns: max-content 1fr;
    }
    /* access */
    .access .bg {
        width: 90%;
    }
    .access .address br {
        display: none;
    }
    .access iframe {
        height: 558px;
    }
    /* sight */
    .sight > .photo > .container > div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem 1rem;
    }
    /* graduate */
    .graduate-card {
        display: grid;
        grid-template-columns: 1fr 45%;
        gap: 1rem;
        align-items: start;
        margin-bottom: 3rem;
    }
    .graduate-card:last-child {
        margin-bottom: 0;
    }
    .graduate-card > img {
        grid-column: 2;
        grid-row: 1;
        width: 100%;
        height: auto;
    }
    .graduate-card > .content {
        grid-column: 1;
        grid-row: 1;
    }
    .graduate-card h3 {
        margin-top: 0;
        font-size: 1.125rem;
        font-weight: normal;
    }
    .graduate-card p {
        line-height: 1.8;
    }
}
@media (min-width: 1334px) {
    .for_sp {
        display: none;
    }
}